body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.list-group li.green {
    background: #78e780;
    /*Градиент*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Тень*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Переход*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

    .list-group li.green:hover {
        background: #00ff00;
        cursor: pointer;
    }

.list-group li.yellow {
    background: #fefe22;
    /*Градиент*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    /*Тень*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
    /*Переход*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

    .list-group li.yellow:hover {
        background: #ffff00;
        cursor: pointer;
    }

.margin2px {
    margin: 2px;
}

div.overflow-scroll {
    overflow: scroll;
}

div.height550px {
    height: 550px;
}

div.height {
    height: 700px;
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}

.btn-height100 {
    height: 100%;
}

img.full-size {
    width: 100%;
    height: 300px;
}

.margin-top-off {
    margin-top: 0px !important;
}

.margin-bottom-off {
    margin-bottom: 0px !important;
}

.height45_6 {
    height: 45.6px;
}

.padding-bottom5px {
    padding-bottom: 5px;
}

m-r-5px {
    margin-right: 5px;
}

.width100px {
    width: 100px;
}

.position-relative {
    position: relative;
}

.vertical-middle {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
} /*Доступен в Bootstrap с версии 3.0.1*/