{% extends "app/layout.html" %}
{% load staticfiles %}

{% block scripts %}
    
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center page-header">Решаемые задачи</h2>
            <h4><b>Поиск правил </b><small>В данной версии не реализовано</small></h4>
            <p>Данная задача состоит в анализе значительного количества имеющейся информации 
                о вулканах, и выявления, на основе анализа, закономерностей, которые присущих для 
                изучаемых формаций. Полученные в последствии решения правила могут быть использованы
                для прогнозирования и «предсказывания» еще неизвестных фактов о вулканах. </p>
            <h4><b>Задача автоматизации классификации и выделения формаций </b></h4>
            <p>Данная задача заключается в поддержке пользователей системы в процессе классификации 
                вулканов и автоматического отнесений их к одной из стандартных формаций по генезису 
                (вулканические, Литологические, рудные, петрографические) или формаций по составу 
                (Базальтовые, андезитовые, дацитовые).</p>
            <h4><b>Задача, распознавания формаций </b><small>В данной версии не реализовано</small></h4>
            <p>Данная задача заключается в автоматическом определении формаций групп вулканов используя 
                различные математические алгоритмы вычисления оценки, которая помогает отнести новый вулкан 
                к той или иной формации</p>
            <h4><b>Голосование по опорным множества </b><small>В данной версии не реализовано</small></h4>
            <p>Данный метод работает по принципу сопоставления признаков объекта (Вулкана или породы), 
                тем признакам, которые соответствуют типичным представителям той или иной формации, далее 
                по количеству и качеству совпадающих признаков выставляется усредненная оценка. Эта конечная 
                оценка показывает в количественном выражении насколько объект подходит по своим характеристикам 
                к каждой из существующих формаций.</p>     
    </div>

{% endblock %}