{% extends "app/layout.html" %}
{% load staticfiles %}

{% block scripts %}
    <script src="{% static 'app/scripts/processSigns.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 id="test" class="text-center page-header">Выберите необходимые признаки из списка групп</h2>
            </div>
        </div>
        <div id="lists-signs">
            <div class="row row-flex padding-bottom5px">
                <div class="col-xs-12">
                    <div class="btn-group btn-group-justified padding-bottom5px">
                        <a href="#" class="btn btn-primary" onclick='selectAllSigns("onlyOn")'>Выбрать все признаки</a>
                        <a href="#" class="btn btn-primary" onclick='selectAllSigns("onlyOff")'>Удалить все признаки</a>
                    </div>
                </div>
            </div>
            <div class="row row-flex height550px overflow-scroll">
                <div id="list-groups-and-signs" class="col-xs-12"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-xs-12" style="height:10px"></div>
            <div class="row row-flex">
                <div class="col-xs-10"></div>
                <div id="btn-next" class="col-xs-2">
                    <button type="button" class="btn btn-success" onclick="sendResultAndPageMaps()">Далее</button>
                </div>
                <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}