{% extends "app/layout.html" %}
{% load staticfiles %}

{% block scripts %}
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center page-header">Описание предметной области</h2>
                <p>Проявления вулканизма представляют собой один из наиболее характерных 
                   и важных геологических процессов, имеющих огромное значение в истории 
                   развития и формирования земной коры. Ни одна область на Земле – будь то 
                   континент или океаническая впадина, складчатая область или платформа – 
                   не сформировалась без участия вулканизма. Вулканизм рассматривается в 
                   такой науке, как геология.</p>
                <img src="{% static 'app/images/Геология.png' %}" class="center-block" alt="Изображение про геологию отсутствует"/>
                <dl>
                <dt>Геология</dt><dd>совокупность наук о строении Земли, ее происхождении и развитии, 
                   основанная на изучении геологических процессов, вещественного состава.</dd>
                </dl>
                <dl>
                    <dt>Литосфера</dt>
                    <dd>твёрдая оболочка Земли. Состоит из земной коры и верхней части мантии, до 
                        астеносферы, где скорости сейсмических волн понижаются, свидетельствуя об 
                        изменении пластичности пород.</dd>
                </dl>
                <dl>
                    <dt>Магматизм</dt>
                    <dd>совокупность сложных процессов выражающийся извержением магмы на поверхность 
                        (эффузивный магматизм) или внедрением в земную кору (интрузивный магматизм).</dd>
                </dl>
                <p>Каждый действующий вулкан обладает своими индивидуальными особенностями. Более того, 
                   нет двух совершенно одинаковых вулканов, так же как среди многомиллионного населения нашей 
                   планеты нет двух совершенно одинаковых людей. Однако вулканы можно объединить в группы со 
                   сходными чертами.</p>
                <p><strong>Породы</strong>, которые составляют вулкан классифицируются по:
                   <ul>
                       <li>генезису (формации);</li>
                       <li>составу.</li>
                   </ul>
                </p>
                <dl>
                    <dt>Формации</dt>
                    <dd>естественные и закономерные сочетания горных вулканический пород, ассоциированных или 
                        связанных между собой общностью образования.</dd>
                </dl>
                <img src="{% static 'app/images/Формации.png' %}" class="center-block" alt="Изображение про формации отсутствует"/>
                <img src="{% static 'app/images/Состав пород.png' %}" class="center-block" alt="Изображение про состав пород отсутствует"/>
                <dl>
                    <dt>Горная порода</dt>
                    <dd>природная агрегация</dd>
                </dl>
                <img src="{% static 'app/images/Классификация пород.png' %}" class="center-block" alt="Изображение про классификацию пород отсутствует"/>
            </div>
        </div>
    </div>

{% endblock %}